<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Logging" type="Log.It.LoggingSection, Log.It" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <Logging Factory="Log.It.With.NLog.NLogLoggerFactory, Log.It.With.NLog" />
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="Test.It.With.Amqp.Tests" />
    </extensions>
    <variable name="simplePipeSeparatorLayout" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${logger} | ${level} | ${message} | ConnectionId = ${lc:key=Connection.Id} | Channel = ${lc:key=Channel.Id} ${onexception:| ${exception:format=type} | ${exception:format=method} | ${exception:format=message} | ${exception:format=stacktrace} | ${exception:method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
    <targets>
      <target name="NLogCapturing" xsi:type="NLogCapturing" layout="${simplePipeSeparatorLayout}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="NLogCapturing" />
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" /></startup></configuration>
