packages/
Testing.RabbitMQ/obj/
Testing.RabbitMQ/bin/
Testing.Framework/obj/
Testing.Framework/bin/
Tests/Testing.RabbitMQ.Tests/bin/
Tests/Testing.RabbitMQ.Tests/obj/
Tests/Logging.Tests/bin/
Logging/obj/
Tests/Logging.Tests/obj/
Tests/Logging.NLog.Tests/obj/
Tests/Logging.NLog.Tests/bin/
Logging.NLog/obj/
Logging.NLog/bin/
Test.It.Hosting.A.WindowsService/obj/Debug/Test.It.Hosting.A.WindowsService.csproj.FileListAbsolute.txt
Tests/Test.It.Hosting.A.ConsoleApplication.Tests/obj/Debug/Test.It.Hosting.A.ConsoleApplication.Tests.csproj.FileListAbsolute.txt
Test.It.With.XUnit/obj/
Test.It.With.XUnit/bin/
Test.It.Hosting.A.WebServer/obj/
Test.It.Hosting.A.WebServer/bin/
Test.It.Hosting.A.WindowsService/obj/
