<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="Log.It.With.NLog.Tests"/>
      <add assembly="Log.It.With.NLog"/>
    </extensions>
    <variable name="Layout" value="item1=${lc:key=item1}, item2=${lc:key=item2}" />
    <targets>
      <target name="TestWriter" xsi:type="Test" layout="${Layout}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="TestWriter" />
    </rules>
  </nlog>
</configuration>